En este notebook se prepararán los datasets que servirán de insumo para las consultas a la API

In [59]:
import pandas as pd
import html

### PlayTimeGenre

**Consigna:**

def PlayTimeGenre(genero : str): Debe devolver año con mas horas jugadas para dicho género.
Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

Algunas consideraciones:
* El **género del juego** está en la columna "genres" del dataset "steam_games_procesado.csv".
* El **año de lanzamiento** está en la columna "year" del dataset "steam_games_procesado.csv".
* El **tiempo de juego** está en la columna "playtime_forever" del dataset "user_items_procesado.csv".
* Podemos vincular ambos datasets a través de la columna **"id"** de "steam_games_procesado.csv" y la columna **"item_id"** de "user_items_procesado.csv".

In [60]:
games_df = pd.read_csv("./Datasets/steam_games_procesado.csv")
games_df = games_df[["id", "year", "genres"]]

games_df.head()

       id    year                                             genres
0  761140  2018.0  ['Action', 'Casual', 'Indie', 'Simulation', 'S...
1  643980  2018.0       ['Free to Play', 'Indie', 'RPG', 'Strategy']
2  670290  2017.0  ['Casual', 'Free to Play', 'Indie', 'Simulatio...
3  767400  2017.0                  ['Action', 'Adventure', 'Casual']
4  773570     NaN                                                NaN

In [61]:
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32125 entries, 0 to 32124
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      32125 non-null  int64
 1   year    29955 non-null  float64
 2   genres  28850 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 753.1+ KB

In [62]:
# Analizar los valores nulos.
games_df.isna().sum()

id           0
year      2170
genres    3275
dtype: int64

Para esta consulta no nos sirven aquellos registros que tengan valores nulos en "year" o "genres", por lo que los eliminaremos.

In [63]:
# Borramos valores nulos
games_df.dropna(subset=["year", "genres"], inplace=True, ignore_index=True)

# Casteamos "year" a entero
games_df["year"] = games_df["year"].astype("int32")

Luego, para poder agrupar por género, necesitaremos que cada género ocupe una fila. Lograremos esto con la función pd.explode().

In [64]:
games_df.shape

(28728, 3)

In [65]:
# Usar eval() para convertir las listas de strings entre comillas en listas de 
# cadenas de texto válidas antes de usar explode().
games_df['genres'] = games_df['genres'].apply(eval)

games_df = games_df.explode("genres")

games_df.reset_index(inplace=True, drop=True) # Reseteamos el indice

games_df.head()

       id  year      genres
0  761140  2018      Action
1  761140  2018      Casual
2  761140  2018       Indie
3  761140  2018  Simulation
4  761140  2018    Strategy

In [68]:
games_df.genres.unique()

array(['Action', 'Casual', 'Indie', 'Simulation', 'Strategy',
       'Free to Play', 'RPG', 'Sports', 'Adventure', 'Racing',
       'Massively Multiplayer', 'Early Access', 'Animation & Modeling',
       'Video Production', 'Web Publishing', 'Education',
       'Software Training', 'Utilities', 'Design & Illustration',
       'Audio Production', 'Photo Editing', 'Accounting'], dtype=object)

In [67]:
# Reemplazar los valores en la columna 'genres' después de descodificar HTML
games_df['genres'] = games_df['genres'].apply(lambda x: html.unescape(x))
games_df['genres'] = games_df['genres'].str.replace("'Animation & Modeling'", 'Animation & Modeling')
games_df['genres'] = games_df['genres'].str.replace("'Design & Illustration'", 'Design & Illustration')

In [69]:
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71207 entries, 0 to 71206
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      71207 non-null  int64
 1   year    71207 non-null  int32
 2   genres  71207 non-null  object
dtypes: int32(1), int64(1), object(1)
memory usage: 1.4+ MB

In [70]:
games_df.shape

(71207, 3)

Ahora cargaremos el segundo dataframe.

In [72]:
items_df = pd.read_csv("./Datasets/user_items_procesado.csv")
items_df = items_df[["item_id", "playtime_forever"]]

items_df.head(3)

   item_id  playtime_forever
0       10                 6
1       20                 0
2       30                 7

In [73]:
items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5094092 entries, 0 to 5094091
Data columns (total 2 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           int64
 1   playtime_forever  int64
dtypes: int64(2)
memory usage: 77.7 MB

In [74]:
items_df.isna().sum() # No hay valores nulos

item_id             0
playtime_forever    0
dtype: int64

Vamos a sumar las horas jugadas para cada juego.

In [75]:
total_hours_by_game = items_df.groupby("item_id").playtime_forever.sum()
total_hours_by_game

item_id
10        17107858
20          960524
30          756375
40          154424
50          726545
            ...
528580           0
528660         182
529670           0
529820           0
530720           0
Name: playtime_forever, Length: 10978, dtype: int64

Convertimos la serie anterior a un dataframe.

In [76]:
items_df = total_hours_by_game.to_frame().reset_index()
items_df.head(3)

   item_id  playtime_forever
0       10          17107858
1       20            960524
2       30            756375

Procedemos a hacer un inner join de ambos dataframes.

In [81]:
PlayTimeGenre_df = games_df.merge(items_df, left_on='id', right_on='item_id', 
                                  how='inner')

In [82]:
PlayTimeGenre_df.head()

       id  year    genres  item_id  playtime_forever
0  282010  1997    Action   282010              9319
1  282010  1997     Indie   282010              9319
2  282010  1997    Racing   282010              9319
3      70  1998    Action       70           2650946
4    1640  2006  Strategy     1640             27162

Podemos eliminar las columnas "id" e "item_id".

In [86]:
PlayTimeGenre_df.drop(["id", "item_id"], axis=1, inplace=True)

In [114]:
PlayTimeGenre_df = PlayTimeGenre_df.groupby(["genres", "year"]).playtime_forever.sum()
PlayTimeGenre_df

genres          year
Action          1983      3473
                1984       384
                1988     16001
                1989       607
                1990     18335
                         ...
Web Publishing  2013    333678
                2014     33641
                2015    348673
                2016       136
                2017      9382
Name: playtime_forever, Length: 343, dtype: int64

In [115]:
PlayTimeGenre_df = temp.unstack(0)
PlayTimeGenre_df

genres,Action,Adventure,Animation & Modeling,Audio Production,Casual,Design & Illustration,Early Access,Education,Free to Play,Indie,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
year,,,,,,,,,,,,,,,,,,,,,
1983,3.473000e+03,3473.0,NaN,NaN,3473.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,3.840000e+02,384.0,NaN,NaN,384.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,7712.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,235.0,NaN,NaN,NaN,NaN,NaN,NaN
1988,1.600100e+04,29963.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13962.0,...,NaN,13962.0,NaN,1.0,NaN,NaN,13962.0,NaN,NaN,NaN
1989,6.070000e+02,9311.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5084.0,NaN,NaN,NaN,NaN,NaN,NaN
1990,1.833500e+04,5492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1926.0,NaN,NaN,60.0,NaN,NaN,NaN
1991,2.502000e+03,1722.0,NaN,NaN,1355.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,144.0,NaN,NaN,0.0,NaN,NaN,NaN
1992,1.925000e+03,23795.0,NaN,NaN,2492.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2164.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
1993,2.462300e+04,46772.0,NaN,NaN,22039.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,65.0,NaN,NaN,182863.0,NaN,NaN,NaN
1994,1.201770e+05,15890.0,NaN,NaN,45975.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2092.0,289.0,9351.0,NaN,NaN,1169.0,NaN,NaN,NaN
1995,2.161440e+05,10026.0,NaN,NaN,3553.0,NaN,NaN,NaN,NaN,3168.0,...,NaN,NaN,31004.0,980.0,NaN,31004.0,55227.0,NaN,NaN,NaN
1996,6.784400e+04,104199.0,NaN,NaN,30585.0,NaN,NaN,NaN,127.0,570.0,...,NaN,25354.0,1202.0,1918.0,NaN,NaN,8468.0,NaN,NaN,NaN
1997,3.598360e+05,324405.0,NaN,NaN,32521.0,NaN,NaN,NaN,NaN,64285.0,...,NaN,359624.0,9319.0,4979.0,NaN,NaN,133571.0,NaN,NaN,NaN
1998,2.899116e+06,178831.0,NaN,NaN,12958.0,NaN,NaN,NaN,NaN,19957.0,...,NaN,378188.0,15130.0,107137.0,NaN,NaN,26109.0,NaN,NaN,NaN
1999,2.715157e+06,7735.0,NaN,NaN,632929.0,NaN,NaN,NaN,627007.0,627007.0,...,NaN,331133.0,32.0,129301.0,NaN,NaN,574941.0,NaN,NaN,NaN
2000,1.835786e+07,105121.0,NaN,NaN,53118.0,NaN,NaN,NaN,NaN,5304.0,...,NaN,53240.0,3015.0,69431.0,NaN,NaN,31052.0,NaN,NaN,NaN
2001,1.326310e+06,50619.0,NaN,NaN,6243.0,NaN,NaN,NaN,4965.0,88452.0,...,NaN,120226.0,NaN,247908.0,NaN,NaN,941295.0,NaN,NaN,NaN
2002,7.321020e+05,184447.0,NaN,NaN,61612.0,NaN,NaN,NaN,NaN,37884.0,...,NaN,1783174.0,NaN,353361.0,NaN,NaN,485452.0,NaN,NaN,NaN
2003,1.189340e+07,5189429.0,NaN,NaN,3048.0,NaN,NaN,NaN,5995099.0,2127360.0,...,NaN,9030839.0,30957.0,1358139.0,NaN,NaN,7333055.0,NaN,NaN,NaN
2004,1.296940e+08,96149.0,NaN,NaN,24217.0,NaN,NaN,NaN,NaN,43179.0,...,NaN,72098.0,3477.0,135928.0,NaN,NaN,3686382.0,NaN,NaN,NaN
2005,1.226494e+07,206433.0,NaN,NaN,40708.0,NaN,NaN,NaN,66729.0,336270.0,...,NaN,3145877.0,215392.0,175020.0,NaN,69758.0,1011928.0,NaN,NaN,93844.0
2006,1.077281e+07,203976.0,NaN,NaN,236277.0,NaN,NaN,NaN,2561487.0,446115272.0,...,173.0,1838437.0,426125.0,444536391.0,NaN,11182.0,17226204.0,382929.0,173.0,NaN
2007,1.753021e+07,399173.0,NaN,11058.0,729521.0,11058.0,NaN,NaN,212490.0,1340117.0,...,11058.0,9463324.0,583348.0,1404881.0,NaN,1308.0,3157655.0,11058.0,11058.0,11058.0
2008,3.353967e+07,3276314.0,2058.0,NaN,569465.0,2058.0,NaN,2058.0,215519.0,5255612.0,...,NaN,10326511.0,2410743.0,4689182.0,2058.0,97528.0,8111475.0,2058.0,NaN,NaN
2009,1.638337e+08,6768510.0,NaN,NaN,936817.0,NaN,NaN,NaN,2341944.0,3809521.0,...,NaN,25630479.0,2397456.0,16287495.0,NaN,249680.0,31776974.0,NaN,NaN,NaN
2010,1.800874e+08,24901044.0,NaN,NaN,4775797.0,NaN,NaN,9.0,8595010.0,8533237.0,...,NaN,91569545.0,2041063.0,41737093.0,0.0,2376640.0,140951442.0,NaN,NaN,NaN
2011,3.316218e+08,221631891.0,NaN,NaN,5981880.0,NaN,NaN,NaN,43091480.0,225297547.0,...,NaN,227883593.0,2353883.0,16347108.0,NaN,924685.0,34513058.0,NaN,NaN,NaN
2012,1.085533e+09,73406280.0,17914.0,NaN,20362233.0,1930339.0,3225527.0,NaN,115267827.0,123173589.0,...,2678.0,163452607.0,995589.0,28987538.0,NaN,3514560.0,85583781.0,10338.0,4010.0,1930339.0
2013,4.155222e+08,151011680.0,434433.0,73161.0,12912528.0,292803.0,118902893.0,340567.0,146213734.0,177347758.0,...,NaN,125103114.0,4724202.0,109036269.0,98765.0,6192179.0,145266750.0,651457.0,224132.0,333678.0
2014,1.669599e+08,70193376.0,79513.0,455463.0,25197424.0,192637.0,11239202.0,22532.0,40205991.0,92181876.0,...,61659.0,81853101.0,5536892.0,37299036.0,412697.0,5426819.0,50329171.0,2711695.0,484437.0,33641.0
2015,2.619202e+08,180596381.0,1345545.0,5060.0,81708365.0,1534013.0,13535672.0,36083.0,128633380.0,173584853.0,...,670.0,151609931.0,37467243.0,91871406.0,36605.0,41297376.0,82202224.0,578466.0,1662650.0,348673.0
2016,9.580385e+07,62133387.0,114708.0,459.0,43799371.0,112605.0,9738438.0,2324.0,23297952.0,89577357.0,...,38264.0,56060243.0,3616311.0,36025653.0,481.0,4693674.0,31322403.0,116300.0,1380.0,136.0
2017,1.263344e+08,92832682.0,NaN,NaN,50922548.0,21.0,34195.0,9382.0,86235439.0,125594175.0,...,NaN,67535068.0,116167.0,24432495.0,9382.0,22871.0,5863943.0,9403.0,NaN,9382.0
2018,2.224000e+03,21.0,NaN,NaN,NaN,NaN,6127.0,NaN,NaN,2326.0,...,NaN,3822.0,NaN,2203.0,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
PlayTimeGenre_df.to_csv("./Datasets_API/PlayTimeGenre.csv")